* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background: rgb(247, 90, 208);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40% auto;
  
}
main {
   
   align-items: center;
   justify-items: center;
}



a {
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: rgb(21, 56, 252);
  background: white;
  
  padding: 5px;
  border-radius: 12px;
  transition: background 0.3s;
  
}

a:hover {
  background: rgb(52, 69, 223);
  color: white;
}
